:root {
  --bg: #f9fafb;
  --text: #111827;
  --card-done: #86efac;
}

body.dark {
  --bg: #1f2937;
  --text: #f3f4f6;
}

/*  FIXME: dark mode  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
}

main {
  background: white;
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #555;
  padding: 1rem;
}

.entrada {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

input, textarea, select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.entrada > button {
    padding: 1rem .5rem;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    color: azure;
    background-color: #003399;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;
}

.tarjeta {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  border-radius: 0.5rem;
  background-color: var(--bg);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  position: relative;
  opacity: 1;
}

.tarjeta.fade-in {
  animation: fadeIn 0.5s forwards;
}

.tarjeta.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes fadeOut {
  to { opacity: 0; transform: scale(0.95); height: 0; margin: 0; padding: 0; }
}

.tarjeta:first-child {
  font-size: 1.2rem;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.tarjeta[data-hecha="true"] {
  background-color: lightgreen !important;
  color: darkgreen;
  text-decoration: line-through;
  order: 2;
}

.tarjeta:has(details[open]) {
  border-left: 4px solid green;
}


.acciones {
  align-self: flex-end;
  display: flex;
  gap: 0.5rem;

  position: absolute;
}

.acciones button {
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  padding: .35rem;
  border-radius: 15%;
  color: white;
  font-weight: 800;
}

.acciones button[data-accion="hecha"] {
  background-color: green;
}

.acciones button[data-accion="editar"], button[data-accion="guardar"] {
  background-color: blue;
}

.acciones button[data-accion="eliminar"], button[data-accion="cancelar"] {
  background-color: red;
}

.fecha{
  color: gray;
  align-self: flex-end;
}

.editando {
  background-color: #fff7e6;
  border-left: 4px solid orange;
}
